.spacer {
    height: 100%;
}

.bubble-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.colors-wrap {
    height: auto;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;

    list-style: none;

    li {
        cursor: pointer;
        display: flex;
        width: 100%;
        font-size: 18px;

        span {
            margin-top: -6px;
            text-transform: uppercase;
        }
    }
}

.color-box {
    height: 14px;
    width: 14px;
    border: 1px lightgray solid;
    margin-right: 16px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.btn-text-delete {
    color: #f00 !important;
    font-size: 14px;
}

.btn-text-edit {
    color: #fa1 !important;
    font-size: 14px;
}

.btn-text-add {
    color: #191 !important;
    font-size: 18px;
}